module "acr" {
  source = "github.com/devwithkrishna/azure-container-registry-terraform-module"

  # variables here
  resource_group_name =  "{{ resource_group_name }}"
  location = "{{ location }}"
  environment = "{{ environment }}"
  application_name = "{{ application_name }}"
  temporary = "{{ temporary }}"
  container_registry_name = "{{ container_registry_name }}"
  sku_name = "{{ sku_name }}"

    georeplications = {{ georeplications | tojson }}
    container_registry_config = {
      retention_policy_in_days      = "{{ container_registry_config.retention_policy_in_days }}"
      public_network_access_enabled = "{{ container_registry_config.public_network_access_enabled }}"
      quarantine_policy_enabled     = "{{ container_registry_config.quarantine_policy_enabled }}"
      zone_redundancy_enabled       = "{{ container_registry_config.zone_redundancy_enabled }}"
      admin_enabled                 ="{{ container_registry_config.admin_enabled }}"
      anonymous_pull_enabled        = "{{ container_registry_config.anonymous_pull_enabled }}"
      data_endpoint_enabled         = "{{ container_registry_config.data_endpoint_enabled }}"
      trust_policy_enabled          = "{{ container_registry_config.trust_policy_enabled }}"
    }

  azure_services_bypass = "{{ azure_services_bypass }}"

}


